* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

header {
    padding: 10px;

    nav {
        justify-content: space-around;
        align-items: center;

        .logo {
            img {
                height: 10%;
                width: 100px;
            }
        }

        .menu {
            list-style: none;
            gap: 20px;

            li a {
                color: rgb(112, 109, 109);
                cursor: pointer;
            }
        }

        .username {
            button {
                background-color: rgb(192, 231, 204);
                border: none;
                border-radius: 20px;
                color: #fff;
                border-radius: 50px;
                width: 100px;
                height: 40px;
                cursor: pointer;
                text-align: center;
                padding: 5px;
            }
        }
    }
}

.material-symbols-outlined {
    font-size: 16px;
}

.hero {
    height: 74vh;
    max-width: 1200px;
    box-sizing: border-box;
    left: 10vw;
    position: relative;
    gap: 80px;

    .hero-left {
        flex-direction: column;
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;

        .para {
            width: 70%;
            color: rgb(112, 109, 109);
        }

        .heading {
            width: 70%;
            font-size: 40px;
            font-weight: bolder;

            span {
                color: aqua;
            }
        }

        .btn {
            background-color: aqua;
            color: #fff;
            border: none;
            border-radius: 50px;
            width: 50%;
            height: 10%;
            cursor: pointer;
            text-align: center;
        }
    }

    .hero-right {

        justify-content: center;
        align-items: center;
        width: 50%;

        .hero-right img {
            max-width: 100%;
            height: 80%;
        }
    }
}

.service-overview {
    background-color: darkorange;
    padding: 15px;
    justify-content: space-around;
    color: white;
    box-sizing: border-box;
    height: 80px;

    .Review {
        font-size: 25px;
    }
}

.flex span.material-symbols-outlined {
    font-size: 46px;
    padding: 0 10px;
}






.servicesSection {
    height: 100vh;
    width: 100vw;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    gap: 20px;



    .left {
        width: 50%;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        padding: 20px;


        .start {
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid gray;

            h1 {
                font-size: 24px;
                margin-bottom: 10px;
            }

            p {
                color: gray;
                font-size: 16px;
                margin-bottom: 15px;
            }
        }

        .services {
            padding: 10px;
            height: 70%;
            /* background-color: red; */

            .service {
                width: 100%;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                i{
                    font-size: 10px;
                    padding: 1.5px;
                    border-radius: 50%;
                    border: 2px solid black;
                    margin-left: 3px;
                }

                .serviceDetails {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .serviceName {
                        font-size: 16px;
                        font-weight: normal;
                    }

                    .servicePrice {
                        color: blue;
                        font-weight: normal;
                    }
                }

                button {
                    width: 150px;
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: none;
                    font-weight: bold;
                    cursor: pointer;
                }

                #addItem {
                    background-color: lightgray;
                    color: black;
                }

                #removeItem {
                    background-color: lightpink;
                    color: red;
                }
            }
        }

        .end {
            border-top: 1px solid gray;
            padding: 10px 20px;

            p {
                font-size: 14px;
                color: blue;
                margin-top: 20px;

            }
        }
    }


    .right {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;


        .addItemsDiv {
            width: 100%;
            height: 50%;
            border-radius: 20px;
            background-color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;


            h1{
                width: 100%;
                font-size: 20px;
                padding: 18px;
                text-align: center;
            }

            .items{
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .headRow{

                    width: 100%;
                    height: 20%;
                    display: flex;
                    background-color: lightgray;
                    padding: 10px 0px;
                    font-weight: bold;
                    border-bottom: 1.5px solid gray;

                    .sno{
                        width: 20%;
                        text-align: center;
                    }
                    .service{
                        width: 60%;
                        padding-left: 10px;
                    }
                    .price{
                        width: 20%;
                    }


                }
                .bodyRows{
                    width: 100%;
                    height: 80%;
                    background-color: white;
                    overflow: auto;

                    & .noItems{
                        color: darkgray;
                        height: 100%;
                        width: 100%;
                        padding: 20px 0px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        /* background-color: red; */

                        i{
                            font-size: 52px;
                        }
                    }

                    .addedService{
                        display: flex;
                        width: 100%;
                        padding: 10px 0px;
                        border-bottom: 1px solid lightgray;

                        .sno{
                            width: 20%;
                            text-align: center;
                        }
                        .service{
                            width: 60%;
                            padding-left: 10px;
                        }
                        .price{
                            width: 20%;
                        }
                    }
                }
            }

            .totalDiv{
                width: 100%;
                border-top: 1.5px solid gray;
                padding: 15px 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

        }



        .bookNowDiv {
            width: 100%;
            height: 50%;
            border-radius: 20px;
            background-color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 10px;

            h1{
                font-size: 24px;
            }

            p{
                font-size: 16px;
            }
            input{
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid gray;
            }

            .warn {
                font-size: 14px;
                color: red;
                display: none;
            }

            button{
                width: 100%;
                padding: 15px;
                border-radius: 5px;
                border: none;
                background-color: blue;
                color: white;
                cursor: pointer;
                font-weight: bold;
            }

            .nameDiv{
                width: 100%;
            }
            .contactDiv{
                display: flex;
                gap: 10px;
                align-items: center;

                .emailDiv{
                    width: 100%;
                }
                .phoneDiv{
                    width: 100%;
                }
            }
        }

    }
}